* {
  margin: 0;
  border: 0;
  font-family: inter;
}
.my_header {
  background: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 65px;
}
header > img {
  width: 30px;
  margin-right: 10px;
}
header > h1 {
  font-family: inter;
  font-weight: 500;
}
.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 500px;
}
.main_image_container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
}

.main_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.second_div {
  display: grid;
}
.my_dates {
  font-weight: 800;
}
